/* ---------------------------------------------------------------- */
/* 28.Blog Sidebar                              
/* ---------------------------------------------------------------- */
.blog-sidebar-item {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 50px;
    }
    .blog-large-img-wrap {
        overflow: hidden;
        img {
            transition: all 0.5s linear;
        }
        &:hover .blog-large-img {
            transform: scale(1.03);
        }
    }
    .blog-sidebar-item-body {
        padding: 30px;
        border-radius: 5px;
        transition: all 0.25s linear;
        box-shadow: 0 10px 20px 0 $color_shadow;
        &:hover {
            box-shadow: 0 15px 30px 0 $color_shadow_hover;
        }
        .blog-single-title {
            a {
                color: $color_black;
                &:hover {
                    color: $color_primary;
                }
            }
        }
        .blog-inner-text {
            margin-bottom: 20px !important;
        }
    }
}
/* Blog Sidebar */
.blog-sidebar {
    .blog-widgets {
        margin-bottom: 30px;
        .blog-search-btn {
            top: 0;
            right: 0;
            border: none;
            width: 60px;
            outline: none;
            height: 100%;
            position: absolute;
            background: $color_primary;
            color: $color_white;
            border-radius: 0 5px 5px 0;
        }
        .blog-search-bar {
            width: 100%;
            .search-form-control {
                width: 100%;
                display: block;
                border-radius: 5px;
                margin-bottom: 30px;
                padding: 18px 20px;
                border: none;
                transition: all 0.25s ease;
                box-shadow: 0 10px 20px 0 $color_shadow;
                &:focus {
                    box-shadow: 0 15px 30px 0 $color_shadow_hover;
                }
            }
        }
    }   
    .recent-post-item {
        margin-bottom: 14px;
        display: flex;
        .recent-post-img {
            flex: 0 0 100px;
        }
        .recent-post-title {
            margin-bottom: 14px;
            line-height: 1.5;
            &:hover {
                color: $color_primary;
            }
        }
        .recent-post-date {
            i {
                margin-right: 8px;
                color: $color_primary;
            }
        }
    }
    .blog-category-list {
        li {
            padding: 12px 0;
            border-bottom: 1px solid $color_soft_grey;
            &:before {
                content: "\f101";
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
                color: $color_primary;
                font: {
                    family: "Font Awesome 5 Free";
                    weight: 700;
                }
            }
            a {
                color: $color_dark_blue;
                font: {
                    weight: 500;
                }
                &:hover {
                    color: $color_primary;
                }
                .category-count {
                    float: right;
                }
            }
        }
    }
    .blog-tags li {
        float: left;
        a {
            margin: 3px;
            font : {
                size: 14px;
            }
            display: inline-block;
            color: $color_black;
            padding: 10px 15px;
            border-radius: 5px;
            transition: all 0.25s linear;
            box-shadow: 0 10px 20px 0 $color_shadow;
            &:hover,&.active {
                background: $color_primary;
                color: $color_white;
            }
        }
    }
}