/* ---------------------------------------------------------------- */
/* Intro                              
/* ---------------------------------------------------------------- */
.intro-hero-section {
	 min-height: 750px;
	 display: flex;
	 background: $color_dark_blue;
	 position: relative;
	.intro-hero-title {
		color: $color_white;
		font: {
			size:1.2rem;
			weight: 300;
		}
		margin-bottom: 20px;
		span {
			font: {
				size: 3.6rem;
				weight: 700;
			}
			display: block;
			margin-bottom: 10px
		}
	}
	.intro-hero-subtitle {
		font: {
			size: 1rem;
		}
		margin-bottom: 50px;
		color: $color_white;
		opacity: 0.9;
	}
}
.demo-item {
    margin-bottom: 30px;
    border-radius: 5px;
	box-shadow: 0 10px 30px 0 $color_shadow;
	border-radius: 5px 5px 0 0;
	&:hover {
		box-shadow: 0 20px 40px 0 $color_shadow_hover;
	}
	&:hover .demo-img .demo-overlay {
		top: 0;
		opacity: 1;
	}
	&:hover .demo-overlay i {
		display: block;
	} 
	&:hover .demo-item-link {
		background: $color_primary;
		color: $color_white;
	}
	.demo-img {
		position: relative;
		overflow: hidden;
		border-radius: 5px 5px 0 0;
		.demo-overlay {
			left: 0;
			top: -100%;
			width: 100%;
			height: 100%;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			background: rgba($color_dark_blue, 0.5);
			transition: all 0.5s ease;
		}
		a {
			i {
				height: 56px;
				width: 56px;
				line-height: 46px;
				display: inline-block;
				margin-right: 10px;
				text-align: center;
				border-radius: 50%;
				border:6px solid $color_white;
				transition: all 0.25s ease;
				background: $color_primary;
				color: $color_white;
				box-shadow: 0 5px 8px 0 $color_shadow_hover;
				&:hover {
					background: $color_dark_blue;
					color: $color_white;  
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.demo-item-link {
		font: {
			size: 1.125rem;
			weight: 600;
		}
		padding: 30px;
		display: block;
		border-radius: 0 0 5px 5px;
		color: $color_black;
		background: $color_white;
		transition: all 0.25s ease;
	}
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Extra small devices (portrait phones, less than 576px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width: 575.98px) {
	.intro-hero-section {
		.intro-hero-title > span {
			font: {
				size: 2.5rem;
			}
		}
		.intro-hero-title {
			font: {
				size: 1.6rem;
			}
		}
	}
	.demo-item { 
		.demo-item-link {
			padding: 20px;
		}
	}
}