/* ---------------------------------------------------------------- */
/* 25.Portfolio Single                             
/* ---------------------------------------------------------------- */
.portfolio-single-section {
    .portfolio-carousel {
        margin-bottom: 30px;
        position: relative;
        .owl-nav {
            .owl-prev, .owl-next {
                margin: 0;
                top: 50%;
                position: absolute;
                width: 56px;
                height: 56px;
                line-height: 46px;
                border-radius: 50%;
                text-align: center;
                background: $color_primary;
                color: $color_white !important;;
                border: 6px solid $color_white;
                box-shadow: 0 5px 8px 0 rgba(61, 82, 96, 0.2);
                transition: all 0.25s ease;
                transform: translateY(-50%);
                &:hover {
                    background: $color_dark_blue;
                    color: $color_white;  
                }
            }
            .owl-prev {
                left: 15px;
            }
            .owl-next {
                right: 15px;
            }
        }
    }
    .project-details {
        .project-info {
            margin-bottom: 30px;
            > li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                > span {
                    text-align: left;
                    flex: 0 0 50%;
                }
                > span::before {
                    content: ":";
                    padding-right:15px;
                }
                > b {
                    font : {
                        family: $font_heading;
                        size: 1rem;
                        weight: 700;
                    }
                    text-transform: capitalize;
                    color: $color_black;
                    flex: 0 0 50%;
                }
            }
        }
        .project-rating-wrap {
            margin-bottom: 30px;
            align-items: center;
            text-align: left;
            .project-rating-number {
                flex: 0 0 50%;
                span {
                    font: {
                        size: 3.2rem;
                        weight: 700;
                    }
                    color: $color_primary;
                }
            }
            .project-rating-inner {
                text-align: left;
                flex: 0 0 50%;
                i {
                    color: $color_primary;
                }
            }
        }
        .project-meta {
            .project-meta-box {
                text-align: left;
                flex: 0 0 50%;
                h6 {
                    margin-bottom: 15px;
                }
                h4 {
                    border-radius: 5px;
                    padding:0 21px;
                    height: 40px;
                    line-height: 40px;
                    background: $color_primary;
                    color: $color_white;
                    position: relative;
                    display: inline-block;
                    font : {
                        size: 1rem;
                        weight: 600;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        left: -18px;
                        top: 50%;
                        border: 10px solid;
                        border-color: transparent $color_primary transparent transparent;
                        transform: translateY(-50%);
                    }
                    span {
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
            }
        }
        .project-share {
            li {
                display: inline-block;
                a {
                    width: 56px;
                    height: 56px;
                    line-height: 46px;
                    border-radius: 50%;
                    margin-right: 10px;
                    text-align: center;
                    display: inline-block;
                    background: $color_primary;
                    color: $color_white !important;;
                    border: 6px solid $color_white;
                    box-shadow: 0 5px 8px 0 rgba(61, 82, 96, 0.2);
                    transition: all 0.25s ease;
                    &:hover {
                        background: $color_dark_blue;
                        color: $color_white;  
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
.portolio-single-inner {
    .portfolio-inner-title {
        margin-bottom: 15px;
        font : {
            size: 1.5rem;
        }
    }
    .portfolio-inner-text {
        margin-bottom: 10px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Medium devices (tablets, less than 992px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width: 991.98px) {
    .portolio-single-inner {
        margin-top: 30px;
    }
}