// Fonts
$font_heading         : "Montserrat",sans-serif;
$font_text            : "Roboto", sans-serif;

// Colors
$color_primary        : #FF4F1A;
$color_white          : #fff;
$color_danger_bg      : #f8d7da;
$color_danger_text    : #721c24;
$color_dark_bg        : #050505;
$color_dark_blue      : #131d3b;
$color_black          : #000;
$body_text            : #636b72;
$color_light_grey     : #f4f6f7;
$color_border_line    : #f1f1f1;
$color_primary_light  : #ffede8;
$color_soft_grey      : #e0e0e0;
$color_grey_secondary : #eee;
$color_shadow         : rgba(61,82,96,0.15);
$color_shadow_hover   : rgba(61,82,96,0.2);