/* ---------------------------------------------------------------- */
/* 11.About                             
/* ---------------------------------------------------------------- */
.about-left-inner {
    position: relative;
    &:hover .about-video-btn i, &:hover .about-video-btn i:after {
        animation: none;
    }
    img {
        border-radius: 5px;
        box-shadow: 0 23px 49px 0 rgba($color_black, 0.3);
    }
    .about-video-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        i{
            border-radius: 50%;
            color: $color_white;
            background:  $color_primary;
            animation: pulse 2s ease infinite;
            text-align: center;
            width: 80px;
            height: 80px;
            line-height: 80px;
            position: relative;
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                animation: pulseOrange 2s ease-in-out infinite;
            }
        }
    }
}
.about-inner {
    .about-sub-title {
        font: {
            weight: 400;
        }
        margin-bottom: 10px;
    }
    .about-title {
        margin-bottom: 15px;
        span {
            margin-right: 10px;
            margin-left: 10px;
            color: $color_primary;
            + b {
                font: {
                    style: italic;
                } 
            }
        }
    }
    .about-text {
        margin-bottom: 30px;
    }
    .about-list {
        margin-bottom: 30px;
        .about-details-item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            b {
                color: $color_dark_blue;
                display: inline-block;
                width: 180px;
                position: relative;
                font: {
                    family: $font_heading;
                }
                &:after {
                    content: ":";
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            span {
                margin-left: 10px;
            }
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Medium devices (tablets, less than 992px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:991.98px) {
    .about-left-col {
        display: none;
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Extra small devices (portrait phones, less than 576px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:575.98px) {
    .about-inner {
        .about-list {
            .about-details-item {
                b {
                    width: auto;
                    padding-right: 15px;
                }
            }
        }
    }
}