/* ---------------------------------------------------------------- */
/* 20.Banner                            
/* ---------------------------------------------------------------- */
.banner-wrap {
    .banner-inner {
        .banner-title {
            margin-bottom: 15px;
            display: block;
            color: $color_white;
            span {
                color: $color_primary;
            }
        }
        .banner-text {
            margin-bottom: 30px;
            color: $color_white;
            opacity: 0.85;
        }
    }
}