/* ---------------------------------------------------------------- */
/* 21.Latest Blog                              
/* ---------------------------------------------------------------- */
.blog-item {
    border-radius: 5px;
    transition: all 0.25s linear;
    box-shadow: 0 10px 28px 0 $color_shadow;
    &:hover {
        box-shadow: 0 23px 49px 0 $color_shadow;
    }
    .blog-inner {
        padding: 30px;
        .blog-title {
            margin-bottom: 15px;
            > a {
                color: $color_dark_blue;
                &:hover {
                    color: $color_primary;
                }
            }
        }
        > .blog-desc {
            margin-bottom: 15px;
        }
    }
    .blog-img {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        img {
            transition: all 0.5s linear;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .blog-meta {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        i{
            text-align: center;
            width: 42px;
            height: 42px;
            line-height: 30px;
            border-radius: 50%;
            display: block;
            margin-right: 10px;
            background: $color_primary;
            border:6px solid $color_white;
            color: $color_white;
            box-shadow: 0 5px 8px 0 $color_shadow_hover;
            font: {
                size:12px;
            }
        }
        span {
            font: {
                weight: 500;
            }
            color: $color_dark_blue;
            text-transform: capitalize;
        }
    }
    .blog-item-footer {
        .blog-small-img {
            img {
                border-radius: 50%;
                margin-right: 10px;
            }
            span {
                font: {
                    weight: 500;
                }
                color: $color_black;
                text-transform: capitalize;
            }
        }
        .blog-more-link {
            color: $color_black;
           &:hover {
                color: $color_primary;
           }
        }
    }
}
.blog-grid-item {
    margin-bottom: 30px;
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Medium devices (tablets, less than 992px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:991.98px) {
   .latest-blog-resp:nth-child(3) {
        margin-top: 30px;
   }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Small devices (landscape phones, less than 768px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:767.98px) {
    .latest-blog-resp {
        margin-top: 30px;
        &:first-child {
            margin-top: 0;
        }
    }
}


