/* ---------------------------------------------------------------- */
/* 14.Counters                            
/* ---------------------------------------------------------------- */
.counters-wrap {
    .counter-item {
        text-align: center;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background: rgba($color_black, 0.1);
        }
        &:last-child::after {
            display: none;
        }
        .counter-body {
            h5 {
                font : {
                    size: 1.125rem;
                    weight: 400;
                    family: $font_text;
                }
                color: $color_primary;
            }
            span {
                color: $color_dark_blue;
                display: block;
                line-height: 1.2;
                margin-bottom: 10px;
                font : {
                    size: 3rem;
                    family: $font_heading; 
                    weight: 700;
                }
            }
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Medium devices (tablets, less than 992px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:991.98px) {
    .counter-item:nth-child(3) {
        margin-top: 30px;
    }
    .counter-item:nth-child(4) {
        margin-top: 30px;
    }
    .counter-item:nth-child(2) {
        &:after {
            display: none;
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Extra small devices (portrait phones, less than 576px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:575.98px) {
    .counter-item {
        margin-top: 30px;
        &:after {
            display: none;
        }
    }
    .counter-item:nth-child(1) {
        margin-top: 0;
    }
}