/* ---------------------------------------------------------------- */
/* 22.Footer                            
/* ---------------------------------------------------------------- */
.footer {
    background: $color_dark_blue; 
    .footer-top {
        padding: 80px 0;
        .footer-widget {
            .footer-desc {
                color: $color_white;
                opacity: 0.85;
                margin-bottom: 20px;        
            }
            .footer-title {
                color: $color_white;
                margin-bottom: 30px;
                font: {
                    weight: 400;
                }
                &:after {
                    content: "";
                    display: block;
                    background: $color_primary;
                    margin-top: 10px;
                    width: 60px;
                    height: 2px;
                }
            }
            .footer-social-links {
                a {
                    width: 40px;
                    height: 40px;
                    color: $color_white;
                    line-height: 40px;
                    text-align: center;
                    display: inline-block;
                    border-radius: 50%;
                    background: lighten($color_dark_blue,04%);
                    transition: all 0.25s linear;
                    margin-right: 10px;
                    &:hover {
                        background: $color_primary;
                        animation: pulseOrange 1s 1 linear;
                        transform: translateY(-5px);
                    }
                }
            }
            .footer-contact-info-list {
                li {
                    margin-bottom: 15px;
                    display: flex;
                    align-items:center;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                    i {
        
                        flex: 0 0 40px;
                        margin-right: 15px;
                        height: 40px;
                        width: 40px;
                        color: $color_white;
                        line-height: 40px;
                        border-radius: 50%;
                        text-align: center;
                        display: inline-block;
                        background: lighten($color_dark_blue,04%);
                        transition: all 0.25s linear;
                        font: {
                            size: 14px;
                        }
                    }
                    span {
                        color: $color_white;
                        opacity: 0.85;
                        vertical-align: middle;
                    }
                }
            }
            .footer-links {
                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    span {
                        color: $color_white;
                        opacity: 0.85;
                    }
                    a {
                        color: $color_white;
                        opacity: 0.85;
                        &:hover {
                            color: $color_primary;
                            opacity: 1;
                        }
                    }
                    &:before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        margin-right: 15px;
                        display: inline-block;
                        background: $color_white;
                        border:6px solid lighten($color_dark_blue,05%);
                    }
                }
            }
        }  
        .footer-widget-pl {
            padding-left: 30px;
        }      
    }
    // Copyright
    .copyright {
        background: lighten($color_dark_blue,01%);
        padding: 30px 0;
        .copyright-text {
            color: $color_white;
            opacity: 0.85;
        }
    }
}

/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Medium devices (tablets, less than 992px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:991.98px) {
    .footer {
        .footer-top {
            .footer-widget-pl {
                padding-left: 0;
            }
            .footer-widget-resp:nth-child(1), .footer-widget-resp:nth-child(2) {
                margin-bottom: 30px;
            }
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
/* Small devices (landscape phones, less than 768px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width: 767.98px) {
    .footer {
        .footer-top {
            .footer-widget-resp:nth-child(3) {
                margin-bottom: 30px;
            }
        }
    }
}
