/* ---------------------------------------------------------------- */
/* 18.Team                                                    
/* ---------------------------------------------------------------- */
.team-card {
    border-radius: 5px;
    background: $color_white;
    text-align: center;
    transition: all 0.25s linear;
    box-shadow: 0 10px 28px 0 $color_shadow;
    // Hover Effects
    &:hover {
        box-shadow: 0 23px 49px 0 $color_shadow;
    }
    .team-img {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        img {
            transition: all 0.5s ease-in-out;
            border-radius: 5px;
        }
        &:hover img {
            transform: scale(1.1);
            filter: grayscale(1);
        }
        .team-social {
            position: absolute;
            display: flex;
            left: 50%;
            padding: 15px;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            border-radius: 100px;
            background: $color_white;
            transition: all 0.35s ease-in-out;
            transform: translateX(-50%);
            a {
                height: 56px;
                width: 56px;
                line-height: 46px;
                text-align: center;
                background: $color_primary;
                color: $color_white;
                border-radius: 50%;
                margin-right: 10px;
                text-transform: capitalize;
                transition: all 0.25s linear;
                border: 6px solid $color_white;
                box-shadow: 0 5px 8px 0 rgba(61, 82, 96, 0.2);
                &:hover {
                    background: $color_dark_blue;
                    color: $color_white;  
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &:hover .team-social {
            bottom: 30px;
            visibility: visible;
            opacity: 1;
        }
    }
    .team-body {
        padding: 30px;
        h5 {
            margin-bottom: 5px;
        }
        span {
            color: $color_primary;
            font: {
                size: 1.125rem;
                weight: 400;
            }
        }
        
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Medium devices (tablets, less than 992px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:991.98px) {
    .team-card-resp {
        &:nth-child(1), &:nth-child(2) {
            margin-bottom: 30px;
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Extra small devices (portrait phones, less than 576px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:575.98px) {
    .team-card-resp {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}